body {
    background-color: #ffffff;
    color: #000000;
}

.container {
    background-color: #f9f9f9;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Dark theme */
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.container.dark-theme {
    background-color: #333333;
}

h1, h2 {
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

label {
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
}

button:hover {
    background-color: #0056b3;
}

#resultContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#result {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#strengthContainer {
    margin-top: 20px;
    text-align: center;
}

#strengthFeedback {
    margin-top: 10px;
    font-weight: bold;
}

.custom-sets {
    margin-top: 20px;
    text-align: left;
}

.custom-sets label {
    margin-top: 10px;
}

.custom-sets input {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
}

.expiry-reminder {
    margin-top: 20px;
    text-align: left;
}

.expiry-reminder label {
    margin-top: 10px;
}

.expiry-reminder input {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
}

#historyContainer,
#tipsContainer {
    margin-top: 20px;
    text-align: left;
}

#historyContainer h2,
#tipsContainer h2 {
    margin-bottom: 10px;
}

#historyList,
#tipsList {
    list-style: none;
    padding: 0;
}

#historyList li,
#tipsList li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#historyList li button {
    margin-left: 10px;
}
